<?xml version="1.0"?>
<robot name="zero_arm">
  <link name="base_link">
    <!-- sw2robot density="1000" inertia="solidworks" -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame0_ZERO_ARM_sw2urdf_jmyfk9kd_1.stl" />
      </geometry>
    <material name="frame0_ZERO_ARM_sw2urdf_jmyfk9kd_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame0_ZERO_ARM_sw2urdf_jmyfk9kd_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_0_8mm_1.stl" />
      </geometry>
    <material name="c_0_8mm_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_0_8mm_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/tapered_roller_bearings_gb_2.stl" />
      </geometry>
    <material name="tapered_roller_bearings_gb_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/tapered_roller_bearings_gb_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1.stl" />
      </geometry>
    <material name="c_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2.stl" />
      </geometry>
    <material name="c_1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2_2.stl" />
      </geometry>
    <material name="c_1_2_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2_3.stl" />
      </geometry>
    <material name="c_1_2_3_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2_3.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2_4.stl" />
      </geometry>
    <material name="c_1_2_4_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2_4.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2_5.stl" />
      </geometry>
    <material name="c_1_2_5_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_2_5.stl" />
      </geometry>
    </collision>
    <inertial><origin xyz="-4.882873137e-05 0.04141165003 8.840737075e-05" rpy="0 0 0" /><mass value="0.6445483158" /><inertia ixx="0.003136205773" ixy="-7.707595089e-06" ixz="2.671842952e-08" iyy="0.002894965252" iyz="-3.886362438e-06" izz="0.003137853467" /></inertial></link>
  <link name="frame1_1">
    <!-- sw2robot density="1000" inertia="solidworks" -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame1_1.stl" />
      </geometry>
    <material name="frame1_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame1_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1.stl" />
      </geometry>
    <material name="c_8mm__1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_36_47_1.stl" />
      </geometry>
    <material name="c_36_47_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_36_47_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_08_1.stl" />
      </geometry>
    <material name="M3_08_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_08_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_2.stl" />
      </geometry>
    <material name="c_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_3.stl" />
      </geometry>
    <material name="c_1_3_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_3.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_4.stl" />
      </geometry>
    <material name="c_1_4_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_4.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_42XG_2.stl" />
      </geometry>
    <material name="c_42XG_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_42XG_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X42_L40Motor_1.stl" />
      </geometry>
    <material name="ZDT_X42_L40Motor_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X42_L40Motor_1.stl" />
      </geometry>
    </collision>
    <inertial><origin xyz="0.004667007461 0.04415493144 6.888045514e-05" rpy="0 0 0" /><mass value="0.2690681258" /><inertia ixx="0.000851647579" ixy="-4.652734227e-05" ixz="7.04640368e-07" iyy="0.0001342016922" iyz="1.877939484e-06" izz="0.0009097271237" /></inertial></link>
  <link name="frame2_2">
    <!-- sw2robot density="1000" inertia="solidworks" -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame2_2.stl" />
      </geometry>
    <material name="frame2_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame2_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_36_47_1_2.stl" />
      </geometry>
    <material name="c_36_47_1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_36_47_1_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X42_L40Motor_1_2.stl" />
      </geometry>
    <material name="ZDT_X42_L40Motor_1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X42_L40Motor_1_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_1.stl" />
      </geometry>
    <material name="c_1_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X42_L40Motor_1_3.stl" />
      </geometry>
    <material name="ZDT_X42_L40Motor_1_3_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X42_L40Motor_1_3.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_2_2.stl" />
      </geometry>
    <material name="c_2_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_2_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_5.stl" />
      </geometry>
    <material name="c_1_5_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_5.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_6.stl" />
      </geometry>
    <material name="c_1_6_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_6.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_08_1_2.stl" />
      </geometry>
    <material name="M3_08_1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_08_1_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_05_1.stl" />
      </geometry>
    <material name="M3_05_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_05_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_05_1_2.stl" />
      </geometry>
    <material name="M3_05_1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_05_1_2.stl" />
      </geometry>
    </collision>
    <inertial><origin xyz="0.01134640462 0.1025664034 0.05069130061" rpy="0 0 0" /><mass value="0.3923866558" /><inertia ixx="0.002011422237" ixy="-4.334913517e-05" ixz="-2.135406284e-05" iyy="0.0005901151856" iyz="-0.0007452468449" izz="0.001734543024" /></inertial></link>
  <link name="c_8mm__2">
    <!-- sw2robot density="1000" inertia="solidworks" -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1_2.stl" />
      </geometry>
    <material name="c_8mm__1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame3_1.stl" />
      </geometry>
    <material name="frame3_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame3_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X35_L28Motor_1.stl" />
      </geometry>
    <material name="ZDT_X35_L28Motor_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X35_L28Motor_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_35_38_1.stl" />
      </geometry>
    <material name="c_35_38_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_35_38_1.stl" />
      </geometry>
    </collision>
    <inertial><origin xyz="-0.0321371473 -0.04495585757 0.04340404889" rpy="0 0 0" /><mass value="0.16366815" /><inertia ixx="0.0002056575017" ixy="2.384492385e-05" ixz="4.126215607e-07" iyy="0.0001200094752" iyz="-2.655933234e-06" izz="0.0002077331809" /></inertial></link>
  <link name="c_8mm__3">
    <!-- sw2robot density="1000" inertia="solidworks" -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1_3.stl" />
      </geometry>
    <material name="c_8mm__1_3_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1_3.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame4_1.stl" />
      </geometry>
    <material name="frame4_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame4_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_36_38_2.stl" />
      </geometry>
    <material name="c_36_38_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_36_38_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X35_L28Motor_1_2.stl" />
      </geometry>
    <material name="ZDT_X35_L28Motor_1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X35_L28Motor_1_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_2_1.stl" />
      </geometry>
    <material name="c_2_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_2_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_0_8mm_1_2.stl" />
      </geometry>
    <material name="c_0_8mm_1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_0_8mm_1_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_7.stl" />
      </geometry>
    <material name="c_1_7_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_7.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_06_1.stl" />
      </geometry>
    <material name="M3_06_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_06_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_05_1_3.stl" />
      </geometry>
    <material name="M3_05_1_3_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/M3_05_1_3.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_8.stl" />
      </geometry>
    <material name="c_1_8_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_8.stl" />
      </geometry>
    </collision>
    <inertial><origin xyz="-0.007077530791 -0.04500268862 0.002314959559" rpy="0 0 0" /><mass value="0.1795337558" /><inertia ixx="0.0001976349439" ixy="6.723677058e-07" ixz="3.865298144e-07" iyy="7.487309923e-05" iyz="8.630815814e-06" izz="0.0002191754242" /></inertial></link>
  <link name="c_8mm__4">
    <!-- sw2robot density="1000" inertia="solidworks" -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1_4.stl" />
      </geometry>
    <material name="c_8mm__1_4_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1_4.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame5_1.stl" />
      </geometry>
    <material name="frame5_1_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/frame5_1.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_35_38_1_2.stl" />
      </geometry>
    <material name="c_35_38_1_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_35_38_1_2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_0_8mm_1_3.stl" />
      </geometry>
    <material name="c_0_8mm_1_3_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_0_8mm_1_3.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X35_L28Motor_1_3.stl" />
      </geometry>
    <material name="ZDT_X35_L28Motor_1_3_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/ZDT_X35_L28Motor_1_3.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_9.stl" />
      </geometry>
    <material name="c_1_9_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_9.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_10.stl" />
      </geometry>
    <material name="c_1_10_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_10.stl" />
      </geometry>
    </collision>
    <inertial><origin xyz="-0.03151468665 -0.02951922371 0.05867517118" rpy="0 0 0" /><mass value="0.1585405658" /><inertia ixx="0.0002062964106" ixy="9.425470271e-06" ixz="-1.758730684e-05" iyy="0.0002062107535" iyz="6.542300524e-05" izz="0.0001090114862" /></inertial></link>
  <link name="c_8mm__5">
    <!-- sw2robot density="1000" inertia="solidworks" -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1_5.stl" />
      </geometry>
    <material name="c_8mm__1_5_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_8mm__1_5.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_3_2.stl" />
      </geometry>
    <material name="c_1_3_2_material"><color rgba="0.749 0.749 0.749 1" /></material></visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://zero_arm_description/meshes/c_1_3_2.stl" />
      </geometry>
    </collision>
    <inertial><origin xyz="6.81555693e-14 -0.001526879751 0.003014764879" rpy="0 0 0" /><mass value="0.01632364" /><inertia ixx="5.347860172e-06" ixy="1.340618996e-17" ixz="-2.647017963e-17" iyy="4.548997919e-06" iyz="1.577323477e-06" izz="2.233496253e-06" /></inertial></link>
  <joint name="c_36_47_1__frame2_2" type="revolute">
    <origin xyz="-0.0235 0.1091259018 -4.102068571e-12" rpy="-1.02158145e-17 -3.501334536e-10 1.450300252e-10" />
    <parent link="frame1_1" />
    <child link="frame2_2" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5708" upper="1.5708" effort="10" velocity="3.14" />
    <!-- mates: CONCENTRIC, COINCIDENT, CONCENTRIC, COINCIDENT -->
    <!-- sw2robot-note: geo: free rotation about mate axis (1 DOF) -->
  </joint>
  <joint name="c_36_47_2__c_8mm__2" type="revolute">
    <origin xyz="0.067 0.1793813424 0.08844395959" rpy="-2.659626166e-17 -1.839586418e-10 1.144026319e-10" />
    <parent link="frame2_2" />
    <child link="c_8mm__2" />
    <axis xyz="-1 0 0" />
    <limit lower="0" upper="3.14159" effort="10" velocity="3.14" />
    <!-- mates: CONCENTRIC, COINCIDENT, CONCENTRIC, COINCIDENT -->
    <!-- sw2robot-note: geo: free rotation about mate axis (1 DOF) -->
  </joint>
  <joint name="c_35_38_1__c_8mm__3" type="continuous">
    <origin xyz="-0.04350000002 -0.1073747231 0.0532861975" rpy="3.115651422e-19 -1.941620848e-10 1.038651925e-11" />
    <parent link="c_8mm__2" />
    <child link="c_8mm__3" />
    <axis xyz="0 0.99864745 -0.05199295" />
    <!-- mates: CONCENTRIC, CONCENTRIC -->
    <!-- sw2robot-note: geo: free rotation about mate axis (2 DOF); config sets continuous (inference said revolute) -->
  </joint>
  <joint name="c_36_38_2__c_8mm__4" type="revolute">
    <origin xyz="0.04149999997 -0.07489855891 0.003899470971" rpy="-4.102065599e-10 -5.783315706e-10 3.038767531e-11" />
    <parent link="c_8mm__3" />
    <child link="c_8mm__4" />
    <axis xyz="-1 0 0" />
    <limit lower="-1.5708" upper="0" effort="10" velocity="3.14" />
    <!-- mates: CONCENTRIC, COINCIDENT, CONCENTRIC, COINCIDENT -->
    <!-- sw2robot-note: geo: free rotation about mate axis (1 DOF) -->
  </joint>
  <joint name="c_35_38_2__c_8mm__5" type="continuous">
    <origin xyz="-0.04150000002 -0.05873702169 0.1159739724" rpy="6.135371213e-18 4.58619102e-10 -4.04452233e-10" />
    <parent link="c_8mm__4" />
    <child link="c_8mm__5" />
    <axis xyz="0 0.45182324 -0.89210748" />
    <!-- mates: CONCENTRIC, COINCIDENT, CONCENTRIC, COINCIDENT -->
    <!-- sw2robot-note: geo: free rotation about mate axis (1 DOF); config sets continuous (inference said revolute) -->
  </joint>
  <joint name="frame0_ZERO_ARM_sw2urdf_jmyfk9kd_1__frame1_1" type="continuous">
    <origin xyz="0 0.05187409819 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="frame1_1" />
    <axis xyz="0 1 0" />
    <!-- mates: CONCENTRIC, CONCENTRIC -->
    <!-- sw2robot-note: geo: free rotation about mate axis (2 DOF); config sets continuous (inference said revolute) -->
  </joint>
  </robot>
